<h1 class="page-title"><%= t('students.edit_student') %></h1>

<%= form_with model: @student, class: "d-flex flex-column align-items-center gap-4" do |form| %>
  <div class="form-group">
    <%= form.label :name, t('shared.name'), class: "mb-3" %>
    <%= form.text_field :name, placeholder: t('shared.name'), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :surname, t('shared.surname'), class: "mb-3" %>
    <%= form.text_field :surname, placeholder: t('shared.surname'), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :group_id, class: "mb-3" %>
    <%= form.select :group_id,  Group.all.map { |group| [ group.name, group.id ] }, class: "form-select" %>
  </div>

  <%= form.submit t('shared.edit'), class: "btn btn-warning" %>
<% end %>